<form class="row form-inline border-top-0 signupForm" action="/users" method="post">
    <div class="col-6 signupForm">
        <label class="sr-only" for="name">Name:</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text"></div>
            </div>
            <input name="name" class="form-control" id="name" placeholder="Name">
        </div>

        <label class="sr-only" for="age">Age</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text"></div>
            </div>
            <input name="age" class="form-control" id="age" placeholder="Age">
        </div>

        <label class="sr-only" for="email">Email</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text"></div>
            </div>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email">
        </div>

        <label class="sr-only" for="pWord">Password</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text"></div>
            </div>
            <input name="password" type="password" class="form-control" id="pWord" placeholder="Password">
        </div>
        <div class="form-check mb-2 mr-sm-2">
            <input class="form-check-input" type="checkbox" id="inlineFormCheck">
            <label class="form-check-label" for="inlineFormCheck">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Create an Account</button>
    </div>
</form>