<div id="slides" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/background.png">
            <div class="carousel-caption">
                <h1 class="display-2">Task Management</h1>
                <h3>Fashion your day to your liking</h3>
                <a class="btn btn-primary btn-outline-danger text-light btn-lg" href="/get-started">Get
                    Started</a>
            </div>
        </div>
    </div>
</div>
{{!-- Jumbotron --}}
<div class="container-fluid">
    <div class="row jumbotron" id="section-bg">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <h2 class="display-4">Connect with Google</h2>
            <p class="lead">Centralise your workspace by inserting documents saved in your drive to an individual task!
            </p>
        </div>
    </div>
</div>


{{!-- Phone Notifications Two column section --}}
<div class="container-fluid padding">
    <div class="row padding" id="section-bg">
        <div class="col-lg-6">
            <h2 class="display-3">Stay updated wherever, whenever</h2>
            <p>The task management application sends email notifications directly to the user when as long as they're
                watching it. Within a team, any member who is assigned to watch a task will recieve notifications
                whenever there is activity.</p>
            <br>
            <a class="btn btn-primary btn-outline-danger text-light btn-lg learn-more" href="/get-started">Learn More</a>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid phone-notif" src="images/phone_notif.jpg">
        </div>
    </div>
</div>

{{!-- Phone Notifications section --}}
<div class="container-fluid padding">
    <div class="row welcome text-center" id="section-bg">
        <div class="col-12">
            <h1 class="display-4">Built with MEAN Stack.</h1>
            <hr class="light">
        </div>
        <div class="col-12">
            <p class="lead">Welcome to my Task Management Application! Use my app to ensure the maximum level of
                productivity not only at work but also at home.</p>
            <hr class="my-4">
        </div>
    </div>
</div>

{{!-- Three column Section --}}
<div class="container-fluid padding">
    <div class="row justify-content-around text-center build" id="section-bg">
        <div class="col-xs-12 col-sm-6 col-md-4 mongodb">
            <img src="https://img.icons8.com/color/100/000000/mongodb.png"/>
            <h3>MongooseJS</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 node">
            <img src="https://img.icons8.com/windows/100/000000/nodejs.png" />
        </div>
        <div class="col-sm-12 col-md-4 hbs">
            <img src="https://img.icons8.com/ios-filled/100/000000/english-mustache.png" />
            <h3>HBS</h3>
        </div>
    </div>
    <hr class="my-4">
</div>
{{!-- fixed image background --}}

<hr class="my-4">
<section>
        <div id="fixed-img"></div>
</section>

{{!-- overlay-dropdown --}}
{{!-- use a button that targets some info on collapse --}}

{{!-- connect section --}}
<div class="container-fluid padding">
    <div class="row text-center padding" id="section-bg">
        <div class="col-12 social padding">
            <h2>Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>